__pycache__/*
temp.py
temp.sh
temp.sql
data/customers_full.csv
in_progress/
/henry/
intermediate_csv/
finweb/finweb/env
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
finweb/__pycache__/
finweb/finreports/__pycache__/
finweb/finweb/__pycache__/
kafka_2.13-3.9.0.tgz
kafka_2.13-3.9.0/
logs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.swp
.DS_Store
.idea/
.vscode/
*.iml
coverage/
htmlcov/
.tox/
.nox/
.coverage

